In [53]:
#Imports
import pandas as pd

In [54]:
#Reading file data in as dataframe
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")
df_2018 = pd.read_csv("2018.csv")
df_2019 = pd.read_csv("2019.csv")

In [55]:
#Create a Year column for each dataframe
df_2015["Year"] = 2015
df_2016["Year"] = 2016
df_2017["Year"] = 2017
df_2018["Year"] = 2018
df_2019["Year"] = 2019

In [56]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [57]:
#2015 Data cleaning
#2015 will be the format we use for all other tables however some tables do not have a Standard Error column so we will be removing it.
if "Standard Error" in df_2015.columns:
    df_2015 = df_2015.drop(columns=["Standard Error"])
    print("Data has been cleaned")
    df_2015.loc[df_2015['Country'].str.lower() == 'somaliland region', 'Country'] = 'Somaliland Region'
else:
    print("Data has already been cleaned")
    
print(df_2015.dtypes)

Data has been cleaned
Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
Year                               int64
dtype: object

In [58]:
#2016 Data Cleaning
if "Lower Confidence Interval" in df_2016.columns:
    df_2016 = df_2016.drop(columns=["Upper Confidence Interval", "Lower Confidence Interval"])
    print("Data has been cleaned")   
else:
    print("Data has already been cleaned")
    
print(df_2016.dtypes)

Data has been cleaned
Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
Year                               int64
dtype: object

In [59]:
#2017 data cleaning 
if "Whisker.high" in df_2017.columns:
    df_2017 = df_2017.drop(columns=["Whisker.high", "Whisker.low"])
    new_column_names = {
    "Happiness.Rank": "Happiness Rank",
    "Happiness.Score": "Happiness Score",
    "Economy..GDP.per.Capita.": "Economy (GDP per Capita)",
    "Health..Life.Expectancy.": "Health (Life Expectancy)",
    "Trust..Government.Corruption.": "Trust (Government Corruption)",
    "Dystopia.Residual": "Dystopia Residual"
}
    df_2017 = df_2017.rename(columns= new_column_names)
    #Add region to this dataframe
    df_2017 = df_2017.merge(df_2015[["Country", "Region"]], on="Country", how="left")
    #Assign regions to missing regions
    country_to_region = {
    'Taiwan Province of China': 'Eastern Asia',
    'Belize': 'Latin America and Caribbean',
    'Hong Kong S.A.R., China': 'Eastern Asia',
    'Somalia': 'Sub-Saharan Africa',
    'Namibia': 'Sub-Saharan Africa',
    'South Sudan': 'Sub-Saharan Africa'
    
}



    # Assign regions to countries
    df_2017['Region'] = df_2017.apply(lambda row: country_to_region.get(row['Country'], row['Region']), axis=1)
 
    #Replace names to match 2015 dataframe
    df_2017.loc[df_2017['Country'] == 'Taiwan Province of China', 'Country'] = 'Taiwan'
    df_2017.loc[df_2017['Country'] == 'Hong Kong S.A.R., China', 'Country'] = 'Hong Kong'
    print("Data has been cleaned")
    

else:
    print("Data has already been cleaned")

print(df_2017.dtypes)

Data has been cleaned
Country                           object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Generosity                       float64
Trust (Government Corruption)    float64
Dystopia Residual                float64
Year                               int64
Region                            object
dtype: object

In [60]:
#Program used to scan null region information 
unique_regions = df_2017["Region"].unique()
#print(unique_regions)
null_countries_mask = df_2017["Region"].isnull()

# Apply the mask to the DataFrame to filter rows where the "Region" column is null
null_countries = df_2017[null_countries_mask]

# Print the rows where the "Region" column is null
print(null_countries["Country"])

Series([], Name: Country, dtype: object)

In [61]:
#2018 data cleaning 
if "Social support" in df_2018.columns:
    new_column_names = {
    "Overall rank": "Happiness Rank",
    "Score": "Happiness Score",
    "Country or region" : "Country",
    "Social support" : "Family",
    "GDP per capita": "Economy (GDP per Capita)",
    "Healthy life expectancy": "Health (Life Expectancy)",
    "Perceptions of corruption": "Trust (Government Corruption)",
    "Freedom to make life choices" : "Freedom"
}
    df_2018 = df_2018.rename(columns= new_column_names)
    #Add region to this dataframe
    df_2018 = df_2018.merge(df_2015[["Country", "Region"]], on="Country", how="left")
    country_to_region = {
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'Belize': 'Latin America and Caribbean',
    'Northern Cyprus': 'Middle East and Northern Africa',
    'Somalia': 'Sub-Saharan Africa',
    'Namibia': 'Sub-Saharan Africa',
    'South Sudan': 'Sub-Saharan Africa'
    
}



    # Assign regions to countries
    df_2018['Region'] = df_2018.apply(lambda row: country_to_region.get(row['Country'], row['Region']), axis=1)
    
    #Dystopia Residual Formula
    df_2018["Dystopia Residual"] = df_2018["Happiness Score"] - df_2018["Family"] - df_2018["Economy (GDP per Capita)"] - df_2018["Health (Life Expectancy)"] - df_2018["Freedom"] - df_2018["Generosity"] - df_2018["Trust (Government Corruption)"]

    #Renaming Countries to match 2015 table
    df_2018.loc[df_2018['Country'] == 'Trinidad & Tobago', 'Country'] = 'Trinidad and Tobago'
    df_2018.loc[df_2018['Country'] == 'Northern Cyprus', 'Country'] = 'North Cyprus'

    print("Data has been cleaned")


else:
    print("Data has already been cleaned")

print(df_2018.dtypes)

Data has been cleaned
Happiness Rank                     int64
Country                           object
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Generosity                       float64
Trust (Government Corruption)    float64
Year                               int64
Region                            object
Dystopia Residual                float64
dtype: object

In [62]:
df_2018.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year,Region,Dystopia Residual
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe,2.585
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe,2.383
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,Western Europe,2.371
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,Western Europe,2.426
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,Western Europe,2.318

In [63]:
# 2019 data cleaning 
if "Social support" in df_2019.columns:
    new_column_names = {
        "Overall rank": "Happiness Rank",
        "Score": "Happiness Score",
        "Country or region": "Country",
        "Social support" : "Family",
        "GDP per capita": "Economy (GDP per Capita)",
        "Healthy life expectancy": "Health (Life Expectancy)",
        "Perceptions of corruption": "Trust (Government Corruption)",
        "Freedom to make life choices": "Freedom"
    }
    df_2019 = df_2019.rename(columns=new_column_names)

    # Add region to this dataframe
    df_2019 = df_2019.merge(df_2015[["Country", "Region"]], on="Country", how="left")
    country_to_region = {
        'Trinidad & Tobago': 'Latin America and Caribbean',
        'North Macedonia': 'Central and Eastern Europe',
        'Northern Cyprus': 'Middle East and Northern Africa',
        'Somalia': 'Sub-Saharan Africa',
        'Namibia': 'Sub-Saharan Africa',
        'South Sudan': 'Sub-Saharan Africa',
        'Gambia' : 'Sub-Saharan Africa'
    }

    # Assign regions to countries
    df_2019['Region'] = df_2019.apply(lambda row: country_to_region.get(row['Country'], row['Region']), axis=1)

    #Fix Country Names
    df_2019.loc[df_2019['Country'] == 'Trinidad & Tobago', 'Country'] = 'Trinidad and Tobago'
    df_2019.loc[df_2019['Country'] == 'Northern Cyprus', 'Country'] = 'North Cyprus'
    df_2019.loc[df_2019['Country'] == 'North Macedonia', 'Country'] = 'Macedonia'

    #Dystopia Residual Formula
    df_2019["Dystopia Residual"] = df_2019["Happiness Score"] - df_2019["Family"] - df_2019["Economy (GDP per Capita)"] - df_2019["Health (Life Expectancy)"] - df_2019["Freedom"] - df_2019["Generosity"] - df_2019["Trust (Government Corruption)"]


    print("Data has been cleaned")
else:
    print("Data has already been cleaned")

print(df_2019.dtypes)

Data has been cleaned
Happiness Rank                     int64
Country                           object
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Generosity                       float64
Trust (Government Corruption)    float64
Year                               int64
Region                            object
Dystopia Residual                float64
dtype: object

In [64]:
#Program used to scan null region information 
unique_regions = df_2019["Region"].unique()
print(unique_regions)
null_countries_mask = df_2019["Region"].isnull()

# Apply the mask to the DataFrame to filter rows where the "Region" column is null
null_countries = df_2019[null_countries_mask]

# Print the rows where the "Region" column is null
print(null_countries["Country"])

['Western Europe' 'Australia and New Zealand' 'North America'
 'Latin America and Caribbean' 'Middle East and Northern Africa'
 'Central and Eastern Europe' 'Eastern Asia' 'Southeastern Asia'
 'Sub-Saharan Africa' 'Southern Asia']
Series([], Name: Country, dtype: object)

In [65]:
#2015 to 2016 comparison block
countries_not_in_2015 = df_2015[~df_2015['Country'].isin(df_2016['Country'])]
countries_not_in_2016 = df_2016[~df_2016['Country'].isin(df_2015['Country'])]

print("Countries in 2016 not in 2015:")
print(countries_not_in_2016['Country'])

print("---------------")
print("Countries in 2015 not in 2016:")
print(countries_not_in_2015['Country'])

Countries in 2016 not in 2015:
14     Puerto Rico
51          Belize
75         Somalia
112        Namibia
142    South Sudan
Name: Country, dtype: object
---------------
Countries in 2015 not in 2016:
21                         Oman
93                   Mozambique
96                      Lesotho
100                   Swaziland
125                    Djibouti
147    Central African Republic
Name: Country, dtype: object

In [66]:
#2015 to 2017 comparison block
countries_not_in_2017 = df_2015[~df_2015['Country'].isin(df_2017['Country'])]
countries_not_in_2015 = df_2017[~df_2017['Country'].isin(df_2015['Country'])]

print("Countries in 2015 not in 2017:")
print(countries_not_in_2017['Country'])

print("---------------")
print("Countries in 2017 not in 2015:")
print(countries_not_in_2015['Country'])

Countries in 2015 not in 2017:
21                  Oman
39              Suriname
90     Somaliland Region
98                  Laos
100            Swaziland
125             Djibouti
139              Comoros
Name: Country, dtype: object
---------------
Countries in 2017 not in 2015:
49          Belize
92         Somalia
110        Namibia
146    South Sudan
Name: Country, dtype: object

In [67]:
# 2015 to 2018 comparison block
countries_not_in_2018 = df_2015[~df_2015['Country'].isin(df_2018['Country'])]
countries_not_in_2015 = df_2018[~df_2018['Country'].isin(df_2015['Country'])]

print("Countries in 2015 not in 2018:")
print(countries_not_in_2018['Country'])

print("---------------")
print("Countries in 2018 not in 2015:")
print(countries_not_in_2015['Country'])

Countries in 2015 not in 2018:
21                  Oman
39              Suriname
90     Somaliland Region
100            Swaziland
125             Djibouti
139              Comoros
Name: Country, dtype: object
---------------
Countries in 2018 not in 2015:
48          Belize
97         Somalia
118        Namibia
153    South Sudan
Name: Country, dtype: object

In [68]:
# 2015 to 2019 comparison block
countries_not_in_2019 = df_2015[~df_2015['Country'].isin(df_2019['Country'])]
countries_not_in_2015 = df_2019[~df_2019['Country'].isin(df_2015['Country'])]

print("Countries in 2015 not in 2019:")
print(countries_not_in_2019['Country'])

print("---------------")
print("Countries in 2019 not in 2015:")
print(countries_not_in_2015['Country'])

Countries in 2015 not in 2019:
21                  Oman
39              Suriname
90     Somaliland Region
117                Sudan
125             Djibouti
136               Angola
Name: Country, dtype: object
---------------
Countries in 2019 not in 2015:
111        Somalia
112        Namibia
119         Gambia
155    South Sudan
Name: Country, dtype: object

In [69]:
#Convert Variable names for importing to sql
df_2015 = df_2015.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
})

df_2016 = df_2016.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
})

df_2017 = df_2017.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
})

df_2018 = df_2018.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
})

df_2019 = df_2019.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
})

In [70]:
#Now reorder the columns
columns_order = [
    'Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
    'Economy_GDP_per_Capita', 'Family', 'Health_Life_Expectancy',
    'Freedom', 'Trust_Government_Corruption', 'Generosity',
    'Dystopia_Residual', 'Year'
]
df_2015 = df_2015.reindex(columns=columns_order)
df_2016 = df_2016.reindex(columns=columns_order)
df_2017 = df_2017.reindex(columns=columns_order)
df_2018 = df_2018.reindex(columns=columns_order)
df_2019 = df_2019.reindex(columns=columns_order)

In [71]:
#Convert to csv for importing to sql
df_2015.to_csv('2015cleaned.csv', index = False)
df_2016.to_csv('2016cleaned.csv', index = False)
df_2017.to_csv('2017cleaned.csv', index = False)
df_2018.to_csv('2018cleaned.csv', index = False)
df_2019.to_csv('2019cleaned.csv', index = False)

In [72]:
df_2015.head()

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP_per_Capita,Family,Health_Life_Expectancy,Freedom,Trust_Government_Corruption,Generosity,Dystopia_Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015